.Login-css {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 25vh;

  .Login-card{
    border-radius: 5%;
    height: 400px;
    width: 300px;
  }

 .Login-card_content{
    margin-top: 15%;
 }
  .Login-textfield{
    padding-top: 20px;
  }
  .login-btn{
    background-color: #e3dbf8;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 8%;
  }
}
